/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;
    background: url("image\ copy.png") no-repeat;
    background: url("image.png");
}

header {
    background-color: #336ce8;
    color: #fff;
    padding: 10px 0;
}

header nav ul {
    list-style-type: none;
    text-align: center;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover {
    text-decoration: underline;
}

section {
    padding: 50px 0;
    text-align: center;
}

h1, h2, h3 {
    margin-bottom: 20px;
    color: #101010;
}

.hero-content {
    max-width: 600px;
    margin: 0 auto;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.cta-button:hover {
    background-color: #45a049;
}

.features-content, .booking-content, .contact-content {
    max-width: 800px;
    margin: 0 auto;
}

.feature-item {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.booking-content form {
    max-width: 600px;
    margin: 0 auto;
}

.booking-content input, .booking-content button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.booking-content button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
}

.booking-content button:hover {
    background-color: #45a049;
}

.contact-content form {
    max-width: 600px;
    margin: 0 auto;
}

.contact-content input, .contact-content textarea, .contact-content button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.contact-content button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
}

.contact-content button:hover {
    background-color: #45a049;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #475bdf;
    color: #fff;
}
